.aboutMeSection {
    align-items: center;
    display: flex;
    height: max-content;
    justify-content: flex-start;
    color: white;
    width: 100%;
    z-index: 20;
    padding: 10rem;

    .leftSideAboutContainer {
        width: 55%;

        .aboutSubHeading1 {
            font-size: 1.75rem;
            font-weight: 400;
        }
        .aboutSubHeadingMain {
            font-size: 6rem;
            line-height: 7rem;
            font-weight: 900;

            .highlight-details {
                color: rgb(205, 137, 254);
            }
        }
        .aboutSubHeading2 {
            font-size: 3rem;

            .highlight-details {
                color: rgb(254, 205, 137);
            }
        }

        .other-details {
            font-size: 1rem;
            padding-top: 1rem;
        }
    }

    .aboutContainer {
        display: flex;
        flex-direction: column;
        height: 100%;

        .titleContainer {
            align-items: center;
            display: flex;
            padding-bottom: 30px;
            width: 100%;

            .tabNames {
                color: #fed;
                font-size: 1.875em;
                font-weight: 600;
                letter-spacing: 2px;
                margin-right: 10px;
                display: flex;
                align-items: center;

                span {
                    color: #89bbfe;
                    font-size: 1.438em;
                    margin-right: 10px;
                }
            }

            .titleHrLine {
                height: 0.5px;
                width: 30%;
                background-color: #003b5d;
            }
        }

        .aboutII {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-top: 30px;

            .aboutInfo {
                align-items: center;
                font-size: 2em;
                font-weight: 600;
                margin: auto 20px auto auto;
                text-align: right;
                width: 100%;
                width: max-content;

                span {
                    color: rgb(137, 187, 254);
                }
            }

            .aboutDisplay {
                border-left: 5px solid #cacaca;
                color: silver;
                font-size: 1.125em;
                line-height: 30px;
                padding-left: 20px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .aboutMeSection {
        // font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 90vh;
        padding: 8%;
        margin-top: 60%;
        // max-height: 100%;

        .aboutContainer {
            max-width: 100vw;
            padding: 10% 10%;
            // background-color: rgba(0, 217, 255, 0.267);
            // display: n;

            .titleContainer {
                padding-bottom: 0rem;

                .tabNames {
                    font-size: 1rem;
                }
            }

            .mainAboutContainer {
                .aboutII {
                    display: flex;
                    flex-direction: column;

                    .aboutInfo {
                        font-size: 1.2rem;
                        text-align: left;
                        width: 80%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: 400;
                        margin: 0;
                    }

                    .aboutDisplay {
                        padding-top: 5%;
                        border-left: none;
                        padding-left: 0;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
