.aboutMeSection {
    align-items: center;
    display: flex;
    height: max-content;
    justify-content: flex-start;
    color: white;
    width: 100%;
    z-index: 20;
    padding: 7.5%;

    .leftSideAboutContainer {
        width: 60%;
        z-index: 5;

        .aboutSubHeading1 {
            font-size: 1.5rem;
            font-weight: 400;
        }
        .aboutSubHeadingMain {
            font-size: 5rem;
            line-height: 5rem;
            font-weight: 900;

            .highlight-details {
                color: rgb(205, 137, 254);
            }
        }
        .aboutSubHeading2 {
            font-size: 2.5rem;

            .highlight-details {
                color: rgb(254, 205, 137);
            }
        }

        .other-details {
            font-size: 1rem;
            padding-top: 1rem;
            font-weight: 400;
        }
    }
}
