.contactSection {
    height: 90vh;
    color: white;
    // width: 100%;
    background-color: black;
    position: relative;
    overflow: hidden;

    .titleContainer {
        // background-color: rgba(0, 255, 255, 0.157);
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 2.5%;
        flex-direction: column;

        .tabNames {
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: 2px;
            margin-left: 1rem;
            align-items: center;
            display: flex;
        }

        .HrlineDiv {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column-reverse;
            width: 75%;

            .titleHrLine1 {
                background-color: rgb(255, 255, 255);
                height: 1.5px;
                margin: 0.25rem;
                width: 60%;
                margin-left: 40%;
            }
            .titleHrLine2 {
                background-color: rgb(255, 255, 255);
                height: 1.5px;
                margin: 0.25rem;
                width: 60%;
            }
        }
    }

    .socialContainer {
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin: 0rem;

        .socialIcon {
            border-radius: 10%;
            padding: 0.75rem;
            margin: 1rem;
            display: flex;
            align-items: center;

            .socialIconItem {
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        .instagram:hover {
            background: #f09433;
            background: -moz-linear-gradient(
                45deg,
                #f09433 0%,
                #e6683c 25%,
                #dc2743 50%,
                #cc2366 75%,
                #bc1888 100%
            );
            background: -webkit-linear-gradient(
                45deg,
                #f09433 0%,
                #e6683c 25%,
                #dc2743 50%,
                #cc2366 75%,
                #bc1888 100%
            );
            background: linear-gradient(
                45deg,
                #f09433 0%,
                #e6683c 25%,
                #dc2743 50%,
                #cc2366 75%,
                #bc1888 100%
            );

            transition: all 0.4s ease-in-out;
            transition-delay: 75ms;
        }

        .github:hover {
            background-color: #242c34;
        }

        .linkedin:hover {
            background-color: #0a66c2;
        }

        .twitter:hover {
            background-color: #14a4ed;
        }

        .leetcode:hover {
            background-color: #e2a148;
        }

        .hackerrank:hover {
            background-color: #00e861;
        }
    }

    .Container-div {
        perspective: 250px;
        height: 100%;
        overflow: hidden;
        position: relative;

        .container {
            transform: rotateX(20deg);
            transform-origin: bottom;
            filter: contrast(6);
            --mask: linear-gradient(rgba(0, 0, 0, 0.45), red);
            width: 160vw;
            height: 50%;
            left: -30rem;
            position: absolute;
            bottom: 21rem;
            background: #000;
        }

        .container::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: radial-gradient(#fff, transparent) 0 0/1em 1em space;
            -webkit-mask: var(--mask);
            mask: var(--mask);
            content: "";
        }
    }

    .sendEmail {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;

        .someEmailIntro {
            font-size: 0.9rem;
            width: 55rem;
            word-wrap: break-word;
            text-align: center;
        }

        .sendEmailBtn {
            height: 2.5rem;
            margin-top: 2rem;
            border: 1px solid white;
            padding: 0 2rem;
            font-size: 0.9rem;
            background: transparent;
        }

        .sendEmailBtn:hover {
            border: none;
            background-color: #e74b3e;
        }

        .signContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            bottom: 27.5%;
            font-size: 0.85rem;
            z-index: 2;
        }

        .logo {
            filter: invert(1);
            width: 15vw;
            margin: 0.75rem 0;
        }
    }
}
