.InterestWrapper {
    width: 100%;
    padding-top: 10vh;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    overflow: hidden;

    .InterestSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        width: 100%;

        z-index: 2;

        .titleContainer {
            // background-color: rgba(0, 255, 255, 0.157);
            align-items: center;
            justify-content: center;
            display: flex;
            padding: 2.5%;

            flex-direction: column;
            z-index: 3;
            width: 100%;

            .tabNames {
                font-size: 1.5rem;
                font-weight: 600;
                letter-spacing: 2px;
                margin-left: 1rem;
                align-items: center;
                display: flex;
            }

            .HrlineDiv {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                flex-direction: column-reverse;
                width: 75%;

                .titleHrLine1 {
                    background-color: rgb(205, 254, 137);
                    height: 1.5px;
                    margin: 0.25rem;
                    width: 60%;
                    margin-left: 40%;
                }
                .titleHrLine2 {
                    background-color: rgb(137, 205, 254);
                    height: 1.5px;
                    margin: 0.25rem;
                    width: 60%;
                }
            }
        }

        .IconContainer {
            display: flex;
            justify-content: center;

            .ImageContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 2rem;
                border: 1px solid black;
                border-radius: 5%;

                .titleforDiv {
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 2rem;
                    padding-top: 0;
                }

                .ImageResize {
                    width: 9rem;
                    margin: 1rem 4rem;
                    height: 9rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .IconImage {
                        width: 8rem;
                        filter: invert(1);
                        // height: 0rem;
                    }
                }
            }

            .ImageContainer:hover {
                // border: 1px solid black;
                transform: scale(0.9);
                transition: all 200ms ease-in;
                transition-delay: 75ms;
                color: rgba(137, 205, 254);
                cursor: pointer;
            }

            .HoverYellow:hover {
                filter: brightness(0) saturate(100%) invert(83%) sepia(16%)
                    saturate(1230%) hue-rotate(334deg) brightness(104%)
                    contrast(99%);
                color: rgb(254, 205, 137);
                border: 1px solid rgba(254, 205, 137);
            }
            .HoverPink:hover {
                filter: brightness(0) saturate(100%) invert(79%) sepia(35%)
                    saturate(1927%) hue-rotate(284deg) brightness(101%)
                    contrast(99%);
                color: rgb(254, 137, 205);
                border: 1px solid rgb(254, 137, 205);
            }
            .HoverBlue:hover {
                filter: brightness(0) saturate(100%) invert(66%) sepia(78%)
                    saturate(429%) hue-rotate(181deg) brightness(105%)
                    contrast(99%);
                color: rgb(137, 205, 254);
                border: 1px solid rgba(137, 205, 254);
            }
        }

        .ContentContainer {
            margin: 1rem;
            border-radius: 1rem;
            width: 80%;
            height: 30vh;
            display: flex;
            justify-content: center;

            .education,
            .workEx {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                gap: 3rem;

                .details-1,
                .details-2 {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 2rem;

                    img {
                        height: 10rem;

                        border-radius: 100%;
                    }

                    .others {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0.5rem;
                        font-size: 0.8rem;

                        .Institute {
                            font-size: 1rem;
                            font-weight: 600;
                        }
                    }
                }
            }

            .Bookshelf {
                overflow: hidden;
                width: 70rem;
                height: 100%; // Adjust this as necessary to fit the content
                display: flex;
                justify-content: center;
                align-items: center; // This will vertically center the slides
                margin: 0 auto;

                .swiper-button-next,
                .swiper-button-prev {
                    scale: 0.5;
                    padding: 2rem;
                    position: static;
                    color: white;
                    // margin: 0 10px;

                    cursor: pointer;

                    transition: background-color 0.3s ease;
                }

                /* Change button color on hover */
                .swiper-button-next:hover,
                .swiper-button-prev:hover {
                    scale: 0.65;
                }

                .swiper-container {
                    width: 100%;
                }

                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: auto; // Let the height grow with the content

                    img {
                        width: 12rem; // Set a fixed width for the images
                        height: auto; // Let the height adjust to maintain aspect ratio
                        object-fit: contain;
                        border-radius: 3%;
                    }
                }

                .swiper-wrapper {
                    align-items: center;
                }

                .swiper {
                    width: 100%;
                }
            }
        }
    }
}
