#root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.homepageContainer {
    height: 90vh;
    width: 100%;
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

.hero_area {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
}

.waves {
    position: absolute;
    width: 100%;
    height: 20vh;
    bottom: 0;
    left: 0;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 21s;
}

.parallax > use:nth-child(2) {
    animation-delay: -4s;
    animation-duration: 30s;
}

.parallax > use:nth-child(3) {
    animation-delay: -6s;
    animation-duration: 39s;
}

.parallax > use:nth-child(4) {
    animation-delay: -3s;
    animation-duration: 60s;
}

.hidden {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0;
    -webkit-transform: translateY(60%);
    transform: translateY(60%);
    transition: all 1s;
}

.show {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}

/* Waves Animation end*/

/* square animation begin */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__card {
    margin-inline: auto;
    max-width: 22em;
}

/* card */
.card {
    color: var(--card_cr);
    background-color: var(--card_bd-cr);
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1.5;
    overflow: hidden;
    box-shadow: 0 0 2em var(--cr-blue-500a);
}

/* card line */
.card__line {
    position: absolute;
    width: 0.2em;
    height: 100%;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.card__line_left {
    animation-name: to-top;
    background: var(--gradient-lin-3);
    left: 0;
    bottom: -100%;
}

.card__line_right {
    animation-name: to-bottom;
    background: var(--gradient-lin-4);
    right: 0;
    top: -100%;
}

.card__line_top {
    animation-name: to-right;
    animation-delay: 1.5s;
    background: var(--gradient-lin-1);
    width: 100%;
    height: 0.2em;
    top: 0;
    left: -100%;
}

.card__line_bottom {
    animation-name: to-left;
    animation-delay: 1.5s;
    background: var(--gradient-lin-2);
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 0.2em;
}

@keyframes to-top {
    to {
        bottom: 200%;
    }
}

@keyframes to-bottom {
    to {
        top: 200%;
    }
}

@keyframes to-left {
    to {
        right: 200%;
    }
}

@keyframes to-right {
    to {
        left: 200%;
    }
}

/* square animation end */

/* global colors or color palettes */

.pink {
    background: rgb(137, 137, 254);
    /* background-color: #00c3ff; */
    transition: all 0.5s ease-in-out;
}

.neon {
    background: rgb(137, 254, 205);
}

.yellow {
    background: rgb(254, 205, 137);
}
.green {
    background: rgb(205, 254, 137);
}
.blue {
    background: rgb(137, 205, 254);
}
.purple {
    background: rgb(205, 137, 254);
}

/* end of global colors */

/* water dropping animation */

.drip-wrapper {
    position: absolute;
    border: 0px solid rgb(254, 205, 137);
    filter: url("#goo");
    overflow: hidden;
    height: 90vh;
    width: 100%;
}

.drip-wrapper .drip-top {
    height: 12.5rem; /* Height of the wave */
    position: absolute;
    width: 100%;
    top: -30px;
    border-radius: 10%;
    background: linear-gradient(
        to right,
        rgb(254, 205, 137),
        rgb(205, 254, 137),
        rgb(137, 205, 254),
        rgb(205, 137, 254)
    );
    clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 65%,
        1% 64.95%,
        2% 64.8%,
        3% 64.6%,
        4% 64.3%,
        5% 63.9%,
        6% 63.45%,
        7% 62.9%,
        8% 62.25%,
        9% 61.55%,
        10% 60.8%,
        11% 59.95%,
        12% 59.05%,
        13% 58.1%,
        14% 57.1%,
        15% 56.05%,
        16% 55%,
        17% 53.9%,
        18% 52.8%,
        19% 51.65%,
        20% 50.5%,
        21% 49.35%,
        22% 48.2%,
        23% 47.05%,
        24% 45.9%,
        25% 44.8%,
        26% 43.75%,
        27% 42.75%,
        28% 41.75%,
        29% 40.8%,
        30% 39.9%,
        31% 39.1%,
        32% 38.35%,
        33% 37.65%,
        34% 37.05%,
        35% 36.5%,
        36% 36.05%,
        37% 35.65%,
        38% 35.35%,
        39% 35.15%,
        40% 35.05%,
        41% 35%,
        42% 35.05%,
        43% 35.2%,
        44% 35.45%,
        45% 35.75%,
        46% 36.15%,
        47% 36.65%,
        48% 37.2%,
        49% 37.85%,
        50% 38.55%,
        51% 39.35%,
        52% 40.2%,
        53% 41.1%,
        54% 42.05%,
        55% 43.05%,
        56% 44.1%,
        57% 45.15%,
        58% 46.3%,
        59% 47.4%,
        60% 48.55%,
        61% 49.7%,
        62% 50.85%,
        63% 52%,
        64% 53.15%,
        65% 54.25%,
        66% 55.35%,
        67% 56.4%,
        68% 57.45%,
        69% 58.4%,
        70% 59.35%,
        71% 60.2%,
        72% 61.05%,
        73% 61.8%,
        74% 62.45%,
        75% 63.05%,
        76% 63.6%,
        77% 64.05%,
        78% 64.4%,
        79% 64.7%,
        80% 64.85%,
        81% 65%,
        82% 65%,
        83% 64.9%,
        84% 64.75%,
        85% 64.5%,
        86% 64.2%,
        87% 63.75%,
        88% 63.25%,
        89% 62.7%,
        90% 62.05%,
        91% 61.3%,
        92% 60.5%,
        93% 59.65%,
        94% 58.75%,
        95% 57.8%,
        96% 56.8%,
        97% 55.75%,
        98% 54.65%,
        99% 53.55%,
        100% 52.4%
    );
}

.drip-wrapper .drip {
    border-radius: 50%;
    height: 100px;
    position: absolute;
    width: 75px;

    transform: translate(0, 0) scale(2);
    animation: drip-1 cubic-bezier(0.66, 0.1, 0.97, 0.36) 3s infinite;
}

.drip-wrapper .drip:nth-child(1) {
    animation-name: drip-1;
    animation-delay: 1.25s;
    left: 5%;
    top: -29%;
    background: linear-gradient(to right, #fccd8b, #fea469);
}
.drip-wrapper .drip:nth-child(2) {
    animation-name: drip-2;
    animation-delay: 0.5s;
    left: 10%;
    top: -20%;
    background: linear-gradient(to right, #f1db89, #e9e389);
}
.drip-wrapper .drip:nth-child(3) {
    animation-name: drip-3;
    animation-delay: 2s;
    left: 20%;
    top: -25%;
    background: linear-gradient(to right, #e1ea89, #daf089);
}
.drip-wrapper .drip:nth-child(4) {
    animation-name: drip-4;
    animation-delay: 1s;
    left: 30%;
    top: -25%;
    background: linear-gradient(to right, #d3f989, #cafc8d);
}
.drip-wrapper .drip:nth-child(5) {
    animation-name: drip-5;
    animation-delay: 1.75s;
    left: 50%;
    height: 75px;
    width: 50px;
    top: -20%;
    background: linear-gradient(to right, #abe5c4, #a6e2cd);
}
.drip-wrapper .drip:nth-child(6) {
    animation-name: drip-1;
    animation-delay: 2.25s;
    left: 60%;
    top: -20%;
    background: linear-gradient(to right, #9cd6f7, #8fd1f3);
}
.drip-wrapper .drip:nth-child(7) {
    animation-name: drip-2;
    animation-delay: 1.5s;
    left: 75%;
    top: -20%;
    height: 50px;
    width: 30px;
    background: linear-gradient(to right, #98bdfe, #9db9fe);
}
.drip-wrapper .drip:nth-child(8) {
    animation-name: drip-3;
    animation-delay: 1s;
    left: 90%;
    top: -25%;
    background: linear-gradient(to right, #b79efe, #c195fe);
}

.drip-wrapper .drip:nth-child(9) {
    animation-name: drip-5;
    animation-delay: 2.5s;
    left: 50%;
    top: -20%;
    height: 50px;
    width: 40px;
    background: linear-gradient(to right, #abe5c4, #a6e2cd);
}

@keyframes drip-1 {
    to {
        transform: translateY(500px) scale(0);
    }
}
@keyframes drip-2 {
    to {
        transform: translateY(800px) scale(0);
    }
}
@keyframes drip-3 {
    to {
        transform: translateY(600px) scale(0);
    }
}
@keyframes drip-4 {
    to {
        transform: translateY(500px) scale(0.4);
    }
}
@keyframes drip-5 {
    to {
        transform: translateY(400px) scale(0.2);
    }
}

/* end of water dropping animation */

/* start of back to top btn */
.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
}

.button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}

/* end of back to top btn */

/* spline animation begin */

.spline-Animation {
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.spline-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 5px;
    scale: 1.05;
    z-index: -2;
    bottom: 15%;
}

.spline-2 {
    position: absolute;
    top: -80vh;
    scale: 0.4;
    height: 100%;
    width: 100%;
    left: 30vw;
    filter: drop-shadow(10px 10px 30px 10px);
    animation: moveAstro 2s infinite;
    transition: all 0.3 ease-in-out;
}

@keyframes moveAstro {
    0% {
        top: -80vh;
    }
    25% {
        top: -81vh;
    }
    50% {
        top: -82vh;
    }
    75% {
        top: -81vh;
    }
    100% {
        top: -80vh;
    }
}

.backgroundSpline {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: drop-shadow(10px 10px 30px 10px);
}

.spline-3 {
    position: absolute;
    left: 54vw;
    scale: 0.5;
    bottom: 81vh;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    animation: moveSpline3 2s infinite;
    transition: all 0.3 ease-in-out;
}

@keyframes moveSpline3 {
    0% {
        bottom: 81vh;
        left: 54vw;
    }
    25% {
        bottom: 81.25vh;
        left: 54.25vw;
    }
    50% {
        bottom: 81.5vh;
        left: 54.5vw;
    }
    75% {
        bottom: 81.25vh;
        left: 54.25vw;
    }
    100% {
        bottom: 81vh;
        left: 54vw;
    }
}

/* saturn animation  */
.spline-5 {
    position: absolute;
    left: 57.5vw;
    height: 100%;
    width: 100%;
    scale: 0.3;
    bottom: 70vh;
    opacity: 0.7;
    animation: moveSpline5 2s infinite;
    transition: all 0.1s ease-in-out;
}

@keyframes moveSpline5 {
    0% {
        bottom: 70vh;
    }
    25% {
        bottom: 70.15vh;
    }
    50% {
        bottom: 70.3vh;
    }
    75% {
        bottom: 70.15vh;
    }
    100% {
        bottom: 70vh;
    }
}

/* spike planet animation/ */

.spline-4 {
    position: absolute;
    left: 56vw;
    scale: 0.6;
    height: 100%;
    width: 100%;
    bottom: 40vh;
    opacity: 0.75;
    animation: moveSpline4 3s infinite;
    transition: all 0.3 ease-in-out;
}

@keyframes moveSpline4 {
    0% {
        bottom: 40vh;
        left: 56vw;
    }
    25% {
        bottom: 39.75vh;
        left: 56.2vw;
    }
    50% {
        bottom: 39.5vh;
        left: 56.4vw;
    }
    75% {
        bottom: 39.75vh;
        left: 56.2vw;
    }
    100% {
        bottom: 40vh;
        left: 56vw;
    }
}

/* triangle animation  */

.spline-6 {
    position: absolute;
    left: 56vw;
    scale: 0.3;
    height: 100%;
    width: 100%;
    bottom: 90vh;
    opacity: 0.4;
    animation: moveSpline6 5s infinite;
    transition: all 0.3 ease-in-out;
}

@keyframes moveSpline6 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1.5deg);
    }
    50% {
        transform: rotate(3deg);
    }
    75% {
        transform: rotate(1.5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* hexagon animation  */

.spline-7 {
    position: absolute;
    left: 65.5vw;
    scale: 0.5;
    height: 100%;
    width: 100%;
    bottom: 40vh;
    opacity: 0.3;
    animation: moveSpline7 3s infinite;
    transition: all 0.3s ease-in-out;
}

@keyframes moveSpline7 {
    0% {
        bottom: 40vh;
    }
    25% {
        bottom: 40.1vh;
    }
    50% {
        bottom: 40.2vh;
    }
    75% {
        bottom: 40.1vh;
    }
    100% {
        bottom: 40vh;
    }
}

/* orb animation  */
.spline-8 {
    position: absolute;
    left: 61.5vw;
    scale: 0.5;
    width: 100%;
    height: 100%;
    bottom: 57.5vh;
    opacity: 0.7;
    animation: moveSpline8 2s infinite;
    transition: all 0.3s ease-in-out;
}

@keyframes moveSpline8 {
    0% {
        bottom: 57.5vh;
    }
    25% {
        bottom: 57.75vh;
    }
    50% {
        bottom: 58vh;
    }
    75% {
        bottom: 57.75vh;
    }
    100% {
        bottom: 57.5vh;
    }
}

/* spline animation end */

/* fade effect in techstack start */

.gel {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.central-gel {
    animation-name: pulse00;
    animation-duration: 2s;
}
.r1 {
    animation-name: pulse00;
    animation-duration: 2s;
    animation-delay: 0.2s;
}

.r2 {
    animation-name: pulse00;
    animation-duration: 2s;
    animation-delay: 0.4s;
}

.r3 {
    animation-name: pulse00;
    animation-duration: 2s;

    animation-delay: 0.6s;
}

.r4 {
    animation-name: pulse00;
    animation-duration: 2s;

    animation-delay: 0.8s;
}

@keyframes pulse00 {
    0% {
        transform: scale(0);
        height: 0;
        width: 0;
    }

    100% {
        transform: scale(1);
        height: 11rem;
        width: 11rem;
    }
}

.logo_img {
    width: 7rem;
    animation-name: pulse01;
    animation-duration: 2s;
    animation-delay: 0.8s;
}

.keras {
    width: 5.5rem;
    animation-name: pulse02;
    animation-duration: 2s;
    animation-delay: 0.8s;
}

@keyframes pulse01 {
    0% {
        transform: scale(0);
        width: 0;
    }

    100% {
        transform: scale(1);

        width: 7rem;
    }
}

@keyframes pulse02 {
    0% {
        transform: scale(0);
        width: 0;
    }

    100% {
        transform: scale(1);

        width: 5.5rem;
    }
}

/* fade effect in techstack end */

/* line animation begin */

#lineh1 {
    position: absolute;
    left: 0;
    height: 2px;
    bottom: 5rem;
    background: #5500aa;
    animation: lineH 4s 5s infinite linear;
}
#lineh2 {
    position: absolute;
    left: 0;
    bottom: 10rem;
    height: 2px;
    background: #aa2b00;
    animation: lineH 5s 0.5s infinite linear;
}
#lineh3 {
    position: absolute;
    left: 0;
    bottom: 15rem;
    height: 2px;
    background: #00d4ff;
    animation: lineH 5s 2s infinite linear;
}
#lineh4 {
    position: absolute;
    right: 0;
    bottom: 17rem;
    height: 2px;
    background: #00aa2b;
    animation: lineH 5s 1s infinite linear;
}
#lineh5 {
    position: absolute;
    left: 0;
    bottom: 20rem;
    height: 2px;
    background: #aa8000;
    animation: lineH 5s 4s infinite linear;
}
#lineh6 {
    position: absolute;
    right: 0;
    bottom: 22rem;
    height: 2px;
    background: #aaff00;
    animation: lineH 4s 1s infinite linear;
}
#lineh7 {
    position: absolute;
    right: 0;
    bottom: 25rem;
    height: 2px;
    background: #d50055;
    animation: lineH 4s 0s infinite linear;
}
#lineh8 {
    position: absolute;
    left: 0;
    bottom: 28rem;
    height: 2px;
    background: #00ffff;
    animation: lineH 4s 1.5s infinite linear;
}
#lineh9 {
    position: absolute;
    left: 0;
    bottom: 32rem;
    height: 2px;
    background: #2b002b;
    animation: lineH 5s 2s infinite linear;
}
#lineh10 {
    position: absolute;
    right: 0;
    bottom: 35rem;
    height: 2px;
    background: #005580;
    animation: lineH 4s 3s infinite linear;
}
#lineh11 {
    position: absolute;
    right: 0;
    bottom: 37rem;
    height: 2px;
    background: #ff557f;
    animation: lineH 4s 1s infinite linear;
}
#lineh12 {
    position: absolute;
    right: 0;
    bottom: 39rem;
    height: 2px;
    background: #85b085;
    animation: lineH 6s 1s infinite linear;
}
@keyframes lineH {
    0% {
        width: 0%;
    }
    100% {
        width: 95%;
        opacity: 0;
    }
}
/* line animation end */

/* btn animation starts */

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #ffffff);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #ffffff);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #ffffff);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #ffffff);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #ffffff);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #ffffff);
    z-index: -5;
    transition: all 0.8s ease;
}

.sendEmailBtn:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #ffffff);
    z-index: 2;
}

.sendEmailBtn:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #ffffff);
    z-index: 2;
}

.sendEmailBtn:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #ffffff);
    z-index: 2;
}

.sendEmailBtn:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #ffffff);
    z-index: 2;
}

.sendEmailBtn:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #ffffff);
    z-index: 2;
}

.sendEmailBtn:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #ffffff);
    z-index: 2;
}

.fil0 {
    fill: #ffffff;
}
/* end of btn animation  */
